@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap");
:root {
  --color-1: #0f1016;
  --text-color: #f0f0f0;
  --accent-color: #006aff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
main {
  width: 100%;
  height: 100%;
}
html {
  font-size: 12pt;
  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}
h1 {
  font-size: 4rem;
}

p {
  width: 50%;
  margin: 2rem 0;
}
section {
  height: 100vh;
}
.container {
  padding: 5rem;
  justify-content: center;
  align-items: center;
}

.sticky-parent {
  height: 500vh;
}
.sticky {
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
}
.scroll-section {
  position: absolute;
  top: 0;
  height: 100%;
  width: 500vw;
  will-change: transform;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
}
.scroll-section img {
  margin-left: 5rem;
  margin-top: 5rem;
  width: 400px;
  height: 80%;
  object-fit: cover;
  object-position: center;
  border-radius: 3rem;
}

.scroll-section div {
  background-color: rgba(0, 0, 0, 0.904);
  display: flex;
  cursor: pointer;
  margin-left: 2rem;
  width: 75vw;
  height: 80%;
  border-radius: 2rem;
}
/*  */

.contacts {
  border: 1px solid white;
}

#contact:hover > .contacts::after,
#course:hover > .courses::after {
  opacity: 1;
  border: 0.5px solid rgba(255, 255, 255, 0.16);
}
.contacts,
.courses {
  color: var(--text-color);
  background-color: rgba(255, 255, 255, 0.254);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 260px;
  flex-direction: row;
  position: relative;
  width: 300px;
}
.contacts:hover::before,
.courses:hover::before {
  opacity: 1;
}
.contacts::before,
.contacts::after,
.courses::before,
.courses::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}
.contacts::before,
.courses::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}
.contacts::after,
.courses::after {
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
}

.text-area {
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
}
.text-area a {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.377);
  padding: 30px;
  border-radius: 6rem;
  z-index: 9;
}

/*  */
.begin-btn:hover {
  /* background-color: white; */
  transform: scale(1.1);
}

/* ///////////////////////////////////////////////////////  */

nav {
  height: 60px;
  background-color: #fc5f2b;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #0f1016;
}
nav a:hover {
  background-color: #ff9674;
  transition: 0.5s ease;
}

nav .home-link {
  margin-right: auto;
}

nav svg {
  fill: var(--text-color);
}
#sidebar-active {
  display: none;
}
.open-sidebar-btn,
.close-sidebar-btn {
  display: none;
}
@media (max-width: 1380px) {
  .scroll-section img {
    display: none;
  }
  .courses {
    width: 80vw;
    border: 1px solid white;
  }
  .text-area {
    display: block;
    width: 90%;
  }
  .begin-btn {
    width: 80%;
  }
  .begin-btn:active {
    transition: 0.3s;
    background-color: white;
    columns: black;
  }
  .title,
  .description {
    background-color: #0f10165a;
  }
}
@media (max-width: 1000px) {
  .links-container {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;
    background-color: #fc5f2b;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }
  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  .open-sidebar-btn,
  .close-sidebar-btn {
    padding: 20px;
    display: block;
  }
  #sidebar-active:checked ~ .links-container {
    right: 0;
  }
  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
  #home,
  #contact {
    text-align: justify;
    padding: 0px 0px;
    align-items: center;
  }
  .blob,
  .layer1,
  .layer2,
  .layer3,
  .layer4 {
    display: none;
  }

  .courses,
  .contacts {
    width: 80%;
    border: 1px solid white;
  }
  .text-area {
    display: block;
    width: 90%;
  }
}

.sticky-parent {
  color: #fc5f2b;
  background-color: #000;
  /* #E7DDCF
#181818 */
}

.container {
  /* #C7E410
#B866FA */
  color: #fc5f2b;

  background-color: #000;
}

/* #course {
} */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

section,
.sticky-parent {
  position: relative;
}

.spacer {
  aspect-ratio: 960/100;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.toplayer {
  background-image: url(../assets/toplayer.svg);
}

.spacers {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.layer1 {
  background-image: url(../assets/layer1.svg);
}

.layer2 {
  background-image: url(../assets/layer2.svg);
}

.layer3 {
  background-image: url(../assets/layer3.svg);
}

.layer4 {
  background-image: url(../assets/footer1.svg);
}

.footer {
  bottom: 0;
}

.contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
}
