body {
  font-family: Arial, sans-serif;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  color: #fff;
}

.list {
  /* background-color: #1bd964; */
  color: #fff;
}

.option {
  border: 1px solid #ccc;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
}

.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}

#counter {
  display: flex;
  justify-content: space-between;
}

.counter-prefix {
  text-align: center;
  font-size: 2rem;
}

.counter-text {
  text-align: center;
}

#progressbar {
  width: 90%;
  height: 2rem;
  border: 0.3rem solid #181c20;
  margin-top: 1.5rem;
  margin: auto;
  border-radius: 50px;
}

#progressbarfull {
  height: 2rem;
  background-color: #56eb8f;
  width: 0%;
  border-radius: 50px;
}
@media (min-width: 720px) {
  header h1 {
    margin-bottom: 10px;
    font-size: 4em; /* Increased font size */
    color: #181c20;
  }

  .card {
    background-color: #fff;
    color: #333;
    padding: 40px; /* Increased padding */
    border-radius: 10px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Increased shadow */
    display: inline-block;
    text-align: center;
    width: 800px;
    height: 800px;
    margin-bottom: 20px;
  }

  .card p {
    font-size: 2.4em; /* Increased font size */
    margin-bottom: 40px; /* Increased margin */
  }

  .list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px; /* Increased margin */
  }

  .list button {
    padding: 20px 40px; /* Increased padding */
    margin: 10px; /* Increased margin */
    border-radius: 25px;
    cursor: pointer;
    font-size: 2em; /* Increased font size */
  }
}
