body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    color: #fff;
}


.list button:hover {
    background-color: #cfcbcb;
}

.list{
    /* background-color: #1bd964; */
    color: #fff;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.option{
    border: 1px solid #ccc;
    padding: 10px 20px;
    cursor: pointer;
  }
  
.selected {
    background-color: blue;
  }
  
.correct{
    background-color: #1bd964;
  }

@media (min-width:720px) {
    header h1 {
        margin-bottom: 20px;
        font-size: 4em; /* Increased font size */
    }
    
    .card {
        background-color: #fff;
        color: #333;
        padding: 40px; /* Increased padding */
        border-radius: 10px;
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Increased shadow */
        display: inline-block;
        text-align: center;
    }
    
    .card p {
        font-size: 2.4em; /* Increased font size */
        margin-bottom: 40px; /* Increased margin */
    }
    
    .list {
        display:flex;
        flex-direction: column; 
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 40px; /* Increased margin */
    }
    
    .list button {
        padding: 20px 40px; /* Increased padding */
        margin: 10px; /* Increased margin */
        border-radius: 25px;
        cursor: pointer;
        font-size: 2em; /* Increased font size */
    }
    .footer span {
        font-size: 2em; /* Increased font size */
        color: #333;
    }
    
    .footer .next {
        background-color: #ffc107;
        border: none;
        padding: 20px; /* Increased padding */
        border-radius: 5px;
        cursor: pointer;
        font-size: 2.4em; /* Increased font size */
    }
    
}
@media (min-width:480px)and( max-width:720px
) {
    header h1 {
        margin-bottom: 20px;
        font-size: 3em; /* Increased font size */
    }
    
    .card {
        background-color: #fff;
        color: #333;
        padding: 30px; /* Increased padding */
        border-radius: 10px;
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Increased shadow */
        display: inline-block;
        text-align: center;
    }
    
    .card p {
        font-size: 1.9em; /* Increased font size */
        margin-bottom: 30px; /* Increased margin */
    }
    
    .list {
        display:flex;
        flex-direction: column; 
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 30px; /* Increased margin */
    }
    
    .list button {
        background-color: #e0e0e0;
        border: none;
        padding: 15px 30px; /* Increased padding */
        margin: 7px; /* Increased margin */
        border-radius: 5px;
        cursor: pointer;
        font-size: 3em; /* Increased font size */
    }
    .footer span {
        font-size: 3em; /* Increased font size */
        color: #333;
    }
    
    .footer .next {
        background-color: #ffc107;
        border: none;
        padding: 15px; /* Increased padding */
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.9em; /* Increased font size */
    }
    
    
}
@media (max-width:480px) {
    header h1 {
        margin-bottom: 20px;
        font-size: 2em; /* Increased font size */
    }
    
    .card {
        background-color: #fff;
        color: #333;
        padding: 20px; /* Increased padding */
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increased shadow */
        display: inline-block;
        text-align: center;
    }
    
    .card p {
        font-size: 1.2em; /* Increased font size */
        margin-bottom: 20px; /* Increased margin */
    }
    
    .list {
        display:flex;
        flex-direction: column; 
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 20px; /* Increased margin */
    }
    
    .list button {
        background-color: #e0e0e0;
        border: none;
        padding: 10px 20px; /* Increased padding */
        margin: 5px; /* Increased margin */
        border-radius: 5px;
        cursor: pointer;
        font-size: 1em; /* Increased font size */
    }
    .footer span {
        font-size: 1em; /* Increased font size */
        color: #333;
    }
    
    .footer .next {
        background-color: #ffc107;
        border: none;
        padding: 10px; /* Increased padding */
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.2em; /* Increased font size */
    }
    
}